
.merge-components{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 0.5rem;
    flex-wrap: wrap;
    
    &>*{
        flex: 1 0 6.25rem;
    }
    select, input{
        min-width: 100%;
        border: 0.120rem solid #e0e4e9;
        border-radius: 0.25rem;

        &:hover, &:active, &:focus{
            box-shadow: none;
            outline: none;
        }
    }
}